<div class="row">
  <div class="col-xs-12">
    <img
      style="max-height: 300px"
      [src]="recipe.imagePath"
      [alt]="recipe.name"
      class="img-fluid"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="dropdown">
      <a
        class="btn btn-primary dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="true"
        aria-expanded="false"
      >
        Manage Recipe
      </a>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Add Ingredients</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>
